<div class="row">
            <div class="col-3 col-lg-3 col-md-3 col-sm-12 float-start me-auto">
            <img src="http://picsum.photos/id/1025/150/150" alt="User Profile Pic" class="rounded-circle mb-3">
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">{{first_name}} {{last_name}}
                        <br>
                        Active Since: {{createdAt}}
                        <br>
                       {{email}} </div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/items">Manage Items</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/rentals">Manage Rentals</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/addresses">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/payments">Manage Payment Methods</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/profile/">Order History</a>
                    </div>
                </div>
            </div>
    <div class='col-9 col-lg-9 col-md-9 col-sm-12'>
        {{#> (lookup . 'profilePartial') }}
        {{/undefined}}
    </div>
</div>


<script src="/js/profile.js"></script>
